<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <img class="logominsait" src ="assets/img/logominsait.png" width="80px">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-lg-2 mb-lg-0" btn-lg>
        <li class="btn btn-outline-secondary">
          <a class="nav-link" routerLink="" routerLinkActive="active">Início</a>
        </li>
        <li class="btn btn-outline-secondary">
          <a class="nav-link" routerLink="/clientes" routerLinkActive="active">Clientes</a>
        </li>
        <li class="btn btn-outline-secondary">
          <a class="nav-link" routerLink="/contas" routerLinkActive="active">Contas</a>
        </li>
        <li class="btn btn-outline-secondary">
          <a class="nav-link" routerLink="/deposito" routerLinkActive="active">Deposito</a>
        </li>
        <li class="btn btn-outline-secondary">
          <a class="nav-link" routerLink="/saque" routerLinkActive="active">Saque</a>
        </li>
        <li class="btn btn-outline-secondary">
          <a class="nav-link" routerLink="/transferencia" routerLinkActive="active">Transferência</a>
        </li>
        <li class="btn btn-outline-secondary">
          <a class="nav-link" routerLink="/consultarExtrato" routerLinkActive="active">Extrato Bancário</a>
      </ul>
        <a href="https://www.instagram.com/minsait/">
          <img class="logoinstagram" href src="assets/img/instagramlogo.jpg">
        </a>
        <a href="https://www.linkedin.com/company/minsait/">
          <img class="logolinkedin" href src="assets/img/linkedinlogo.png">
        </a>
    </div>
  </div>
</nav>
<body>


</body>


