h2 {
  font-family: SohoGothicPro-Light;
  font-size: 25px;
}

label {
  font-family: SohoGothicPro-Light;
}

button {
  font-family: SohoGothicPro-Light;
}

table {
  margin: 100px;
}
table {
  font-family: SohoGothicPro-Light;
}
