
<html>

<body>

  <h1>BANCO MINSAIT, TRABALHE CONOSCO!</h1>

    <div class="row m-4">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header bg-dark py-3">
            <h4 class="my-0 fw-normal text-white">CLIENTES</h4>
          </div>
          <div class="card-body">
            <p>
              Cadastre, edite e tenha acesso a todos os nossos clientes.
            </p>
            <a class="w-100 btn btn-lg btn-outline-dark" routerLink="/clientes"
              >Acesse os clientes</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-4">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header bg-dark py-3">
            <h4 class="my-0 fw-normal text-white">CONTAS</h4>
          </div>
          <div class="card-body">
            <p>
              Verifique as respectivas contas dos cliente,além dos seus saldos.
            </p>
            <a class="w-100 btn btn-lg btn-outline-dark" routerLink="/contas"
              >Acesse as contas</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-4">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header bg-dark py-3">
            <h4 class="my-0 fw-normal text-white">DEPÓSITOS</h4>
          </div>
          <div class="card-body">
            <p>
              Realize depósitos na conta em que desejar.
            </p>
            <a class="w-100 btn btn-lg btn-outline-dark" routerLink="/deposito"
              >Acesse os depósitos</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-4">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header bg-dark py-3">
            <h4 class="my-0 fw-normal text-white">SAQUES</h4>
          </div>
          <div class="card-body">
            <p>
              Realize saques na conta em que desejar.
            </p>
            <a class="w-100 btn btn-lg btn-outline-dark" routerLink="/saque"
              >Acesse os saques</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-4">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header bg-dark py-3">
            <h4 class="my-0 fw-normal text-white">TRANSFERÊNCIAS</h4>
          </div>
          <div class="card-body">
            <p>
              Realize transferências de uma conta para outra.
            </p>
            <a class="w-100 btn btn-lg btn-outline-dark" routerLink="/transferencia"
              >Acesso aos clientes</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-4">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header bg-dark py-3">
            <h4 class="my-0 fw-normal text-white">EXTRATOS BANCÁRIOS</h4>
          </div>
          <div class="card-body">
            <p>
              Consiga um extrato trazendo todas as suas operações dentro de um período de tempo.
            </p>
            <a class="w-100 btn btn-lg btn-outline-dark" routerLink="/consultarExtrato"
              >Acesse os extratos</a>
          </div>
        </div>
      </div>
    </div>


</body>



<div>
  <footer>

  </footer>

</div>

</html>
