
h1 {
  font-family: 'SohoGothicPro-Light';
  text-align: center;
  padding: 30px;
}

body {
  height: 100%;
  margin: 0;
}


h4 {
  font-family: 'SohoGothicPro-Light';
  text-align: center;
}

p {
  font-family: 'SohoGothicPro-Light';
}

a {
  font-family: 'SohoGothicPro-Light';
}

