h2 {
  font-family: SohoGothicPro-Light;
  text-align: center;
  font-size: 30px;
}

table {
  font-family: SohoGothicPro-Light;
}

label {
  font-family: SohoGothicPro-Light;
}

form {
  font-family: SohoGothicPro-Light;
}

div {
  font-family: SohoGothicPro-Light;
}


